<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Web Bro</title>

    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/helper.css" />
    <link rel="stylesheet" href="~/css/_Button.css" />
    <link rel="stylesheet" href="~/css/_PreviewCard.css" />
    <link rel="stylesheet" href="~/css/index.css" />

    <!-- Barlow  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Heebo  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Heebo:wght@100..900&display=swap"
        rel="stylesheet">
</head>

<body class="col justify-between">
    <header class="header">
        <a href="">
            <img src="https://www.frontendmentor.io/_next/image?url=%2Fstatic%2Fimages%2Flogo-desktop.svg&w=256&q=75"
                alt="">
        </a>

        <nav>
            <ul>
                <li><a href="">learning paths</a></li>
                <li><a href="">challenges</a></li>
                <li><a href="">solutions</a></li>
                <li><a href="">articles</a></li>
            </ul>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer class="footer footer__body">
        <div class="pd-i-md">
            <section class="container-lg"> <a href=""> <img
                        src="https://www.frontendmentor.io/_next/image?url=%2Fstatic%2Fimages%2Flogo-desktop.svg&w=256&q=75"
                        alt=""></a></section>
        </div>
        <div class="pd-i-md">
            <section class="row justify-between container-lg gap-lg">
                <div class="footer__body-stay-up col gap-sm sz-1">
                    <h4>Stay up to date</h4>
                    <p>with new challenges, featured solutions, selected articles, and our latest news</p>
                    <form class="row gap-sm justify-between">
                        <input class="sz-2 pd-i-sm" type="text" placeholder="email@example.com">
                        <button class="button button_red sz-1">subscribe</button>
                    </form>
                </div>

                <div class="row sz-2 justify-between gap-sm">
                    <div class="footer__body-links col gap-sm">
                        <h4>Frontend Mentor</h4>
                        <nav>
                            <ul class="col">
                                <li><a href="">Unlock Pro</a></li>
                                <li><a href="">Contact us</a></li>
                                <li><a href="">FAQs</a></li>
                                <li><a href="">Become a partner</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__body-links col gap-sm">
                        <h4>Explore</h4>
                        <nav>
                            <ul class="col">
                                <li><a href="">Learning paths</a></li>
                                <li><a href="">Challenges</a></li>
                                <li><a href="">Solutions</a></li>
                                <li><a href="">Articles</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__body-links col gap-sm">
                        <h4>Community</h4>
                        <nav>
                            <ul class="col">
                                <li><a href="">Discord</a></li>
                                <li><a href="">Guidelines</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__body-links col gap-sm">
                        <h4>For companies</h4>
                        <nav>
                            <ul class="col">
                                <li><a href="">Hire developers</a></li>
                                <li><a href="">Train developers</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </section>
        </div>
        <div class="pd-i-md">
            <section class="footer__copyrating  pd-b-md container-lg ">
                <p>© Frontend Mentor 2019 - 2025</p>
                <nav>
                    <ul>
                        <li><a href="">terms</a></li>
                        <li><a href="">cookie policy</a></li>
                        <li><a href="">privacy policy</a></li>
                        <li><a href="">license</a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </footer>
</body>

</html>
