.button {
  color: white;
  padding: 0.85rem;
  border-radius: 9999px;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-style: italic;
}

.button_red {
  background-color: hsl(351 84% 55%);
}

.button_blue {
  background-color: hsl(227 45% 44%);
}
