@model List<Step>

<nav class="step-nav card col gap-md">
    <h3>Your path progress</h3>
    <ul class="col gap-md">
        @foreach (var step in Model)
        {
            <li class="row gap-md">
                <a asp-action="Step" asp-route-pathId="@step.LearningPathId" asp-route-stepId="@step.Id">@step.Name</a>
            </li>
        }
    </ul>
</nav>